# SPDX-License-Identifier: GPL-2.0-only

config COMMON_CLK_MMP
	bool
	default ARCH_MMP

config COMMON_CLK_PXA168
	bool "Clock driver for Marvell PXA168"
	depends on ARCH_MMP || COMPILE_TEST
	depends on OF
	default y if MACH_MMP_DT
	select COMMON_CLK_MMP
	help
	  This driver supports the Marvell PXA168 SoC clocks.

config COMMON_CLK_PXA910
	bool "Clock driver for Marvell PXA910"
	depends on ARCH_MMP || COMPILE_TEST
	depends on OF
	default y if MACH_MMP_DT
	select COMMON_CLK_MMP
	help
	  This driver supports the Marvell PXA910 SoC clocks.

config COMMON_CLK_PXA1928
	bool "Clock driver for Marvell PXA1928"
	depends on ARCH_MMP || COMPILE_TEST
	depends on OF
	default y if ARCH_MMP
	select COMMON_CLK_MMP
	help
	  This driver supports the Marvell PXA1928 SoC clocks.

config COMMON_CLK_PXA1908
	bool "Clock driver for Marvell PXA1908"
	depends on ARCH_MMP || COMPILE_TEST
	depends on OF
	default y if ARCH_MMP && ARM64
	select COMMON_CLK_MMP
	select AUXILIARY_BUS
	help
	  This driver supports the Marvell PXA1908 SoC clocks.
